params {

    fastq       = "${projectDir}/data/*.fastq"
    ref         = "${projectDir}/reference/ref.fa"
    outdir      = "${projectDir}/results"

    fastqc_bin    = "/usr/bin/fastqc"
    cutadapt_bin  = "/usr/bin/cutadapt"
    bwa_bin       = "/usr/bin/bwa"
    samtools_bin  = "/usr/bin/samtools"
    bcftools_bin  = "/usr/bin/bcftools"
    multiqc_bin   = "/usr/local/bin/multiqc"
}

docker {
      enabled = true
}

